    .h1 {
      color: rgb(0, 0, 10);
    }
    li {
      color: blue;
    }
    .sei {
      color: red;
    }

    .header {
      background-color: blue;
      font-size:36px;
    }
    .main {
      background-color: green;
    }

    li {list-style:none;
    }
   
